body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 22px;
	color: #fff;
	font-weight: 700;	
	background-color: #849d8f; 
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

.wrapper {
	min-width: 900px;
	max-width: 1200px;
	margin: 0 auto;
}

.wrapper-inner {
	padding: 0 2.3%;
}

.btn {

	font-size: 18px;
	line-height: 24px;
	color: #fff;
	text-align: center;
	cursor: pointer;
}

/* Формы */

.main-header input,
.subscribe input,
.feedback-form input,
.feedback-form textarea {
	font-size: 14px;
	line-height: 24px;
	color: #999999;
	border: 1px solid rgba(178, 178, 178, 0.52);
	border-radius: 5px;
	outline: none;
}

.subscribe input,
.feedback-form input {
	font-size: 16px;
}

.main-header input:hover,
.subscribe input:hover,
.feedback-form input:hover,
.feedback-form textarea:hover {
	border: 2px solid rgba(154, 154, 154, 0.52);
}

.main-header input:focus,
.subscribe input:focus,
.feedback-form input:focus,
.feedback-form textarea:focus {
	border: 2px solid rgba(46, 136, 228, 0.52);
}

.main-header label,
.subscribe label,
.feedback-form label {
	display: block;
	font-size: 11px;
	line-height: 13px;
	color: #999999;
	font-weight: 400;
}

.login-form,
.search-form {
	padding: 20px;
	background-color: #f8f7f4;
	border-radius: 5px;
}

.login-form .btn {
	font: inherit;
	background-color: #e95038;
	border: none;
}

.user-nav .login-form-link a {
	display: block;
	font-size: 13px;
	line-height: 24px;
	color: #323232;
	font-weight: 400;
	text-decoration: underline;
}

.user-nav .login-form-link a:hover,
.user-nav .login-form-link a:focus,
.user-nav .login-form-link a:active {
	color: #e84d37;
}

.modal-feedback {
	width: 477px;
	background-color: #f8f7f4;
	border-radius: 5px;
}

.modal-form-title {
	font-size: 24px;
	line-height: 28px;
	color: #323232;
	font-weight: 500;
}

.modal-feedback textarea {
	resize: none;
}

.modal-feedback .btn {
	font: inherit;
	background-color: #e95038;
	border: none;
}

/* Шапка */

.main-header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.main-nav {
	display: flex;
}

.main-nav-list,
.sub-nav-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-nav-list {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 406px;
}

.main-nav-list a {
	font-size: 16px;
	line-height: 18px;
	color: #fff;
}

.main-nav-list a:hover ~ .sub-nav-list {
	/* Выпадающее меню */
}

.sub-nav-list {
	background-color: #f8f7f4;
	border-radius: 5px;
}

.sub-nav-list a {
	font-size: 14px;
	line-height: 16px;
	color: #323232;
	font-weight: 400;
}

.sub-nav-list li:first-child a {
	font-weight: 700;
}

.sub-nav-list a:hover,
.sub-nav-list a:focus {
	background-color: #fbded7;
}

.sub-nav-list a:active {
	background-color: #f6b5a5;
}


.user-nav {
	display: flex;
	justify-content: space-between;
	width: 261px;
}

.user-nav a {
	font-size: 14px;
	line-height: 16px;
	color: #fff;
}

.main-header-contacts {
	width: 100%;
	text-align: right;
}

.main-header-time {
	font-size: 14px;
	line-height: 16px;
	color: #fff;
}

.main-header-phone {
	font-size: 22px;
	line-height: 24px;
	color: #fff;
}

.main-header-phone:hover,
.main-header-phone:focus,
.main-header-phone:active {
	color: #ffbc9e;
}

.basket-full a {
	color: #323232;
}

.basket-container {
	background-color: #f8f7f4;
}

.basket-container .btn {
	font: inherit;
	color: #fff;
	background-color: #e95038;
	border: none;
}

.basket-table td {
	padding: 0;
	font-size: 13px;
	line-height: 16px;
	color: #323232;
	font-weight: 400;
}

.basket-table td:nth-child(5) {
	color: #999999;
}

.count td {
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;
	text-align: right;
}

.basket-product-link:hover,
.basket-product-link:focus,
.basket-product-link:active {
	color: #e84d37;
}

.breadcrumbs,
.pagination-list {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
}

.breadcrumbs a {
	display: inline-block;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
	font-weight: 400;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
	color: #ffbc9e;
}

/* Слайдер */

.slide-1, .slide-2, .slide-3 {
	display: none;
}

.slider {
	margin-top: 285px;
	margin-bottom: 37px;
}

.slider .btn {
	font-size: 32px;
	line-height: 44px;
	text-shadow: rgba(160, 32, 11, 0.76) 0 2px 5px;
}

.slider-item {
	width: 670px;
	margin: 0 auto;
}

.slider-item h2 {
	font-size: 60px;
	line-height: 60.35px;
	text-align: center;
}

.slider-controlls label {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 10px;	
	border: 1px solid #fff;
	border-radius: 50%;	
	cursor: pointer;
}

#btn-1:checked ~.wrapper .slide-1,
#btn-2:checked ~.wrapper .slide-2,
#btn-3:checked ~.wrapper .slide-3 {
	display: block;
}

#btn-1:checked ~.wrapper {
	background-color: #849d8f; 
}

#btn-2:checked ~.wrapper {
	background-color: #8996a6;
}

#btn-3:checked ~.wrapper {
	background-color: #9d8b84;
}

/* Основной контент */

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.promo, .news-and-subscribe {
	display: flex;
	justify-content: space-between;
}

.promo, .catalog, .features, .news-and-subscribe {
	margin-bottom: 41px;
}

.promo-item, .news, .subscribe {
	width: 561px;
}

.promo-item {
	border-radius: 10px;
	background-position: 50%;
}

.promo-item h2 {
	font-size: 35px;
	line-height: 41px;
}

.promo-1 {
	background-image: url('../img/bg-promo-1.jpg');
}

.promo-2 {
	background-image: url('../img/bg-promo-2.jpg');
}

.product-filter fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

.product-filter,
.product-filter select {
	font-size: 16px;
	line-height: 18px;
	color: #fff;
	font-weight: 500;
	text-transform: lowercase;
}

.product-filter legend {
	font-size: 14px;
	text-transform: none;
}

.product-filter select {
	background-color: rgba(248, 247, 244, 0.3);
	border: none;
}

.product-filter .btn {
	font: inherit;
	background-color: rgba(248, 247, 244, 0.3);
	border: none;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}

.catalog-item {
	width: 267px;
}

.catalog-item img {
	border-radius: 50%;
}

.catalog-item-wrap {
	position: relative;
}

.catalog-item-price {
	position: absolute;
	top: 175px;
	font-size: 30px;
	line-height: 45px;
	vertical-align: middle;
	text-shadow: rgba(49, 50, 53, 0.5) 1px 1px 3px;	
}

.catalog-item-price b {
	font-size: 45px;
	line-height: 45px;
}

.catalog-item-price b::after {
	content: url('../img/ruble.svg');
	display: inline-block;
	vertical-align: middle;
}

.catalog-item h3 {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	text-align: center;
}

.catalog-item a {
	color: #fff;
}

.catalog-item a:hover,
.catalog-item a:focus,
.catalog-item a:active {
	color: #ffbc9e;
}

.pagination-item a {
	font-size: 16px;
	line-height: 18px;
	color: #fff;
	font-weight: 500;
}

.features {
	background: url('../img/bg-features.jpg');
	border-radius: 10px;
}

.features h2 {
	font-size: 24px;
	line-height: 30px;
	color: #323232;
	font-weight: 500;
}

.features-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
}

.features-item {
	width: 541px;
}

.features-item p {
	font-size: 16px;
	line-height: 22px;
	color: #323232;
	font-weight: 400;
}

.news {
	background: url('../img/bg-news.jpg') no-repeat 0 50%;
	border-radius: 10px;
}

.news h3 {
	font-size: 16px;
	line-height: 22px;
	color: #323232;
	font-weight: 500;
}

.news a {
	font-size: 24px;
	line-height: 30px;
	color: #323232;
	text-decoration: underline;
}

.news a:hover,
.news a:focus,
.news a:active {
	color: #e84d37;
}

.subscribe {
	background: url('../img/bg-post.svg');
	border-radius: 10px;
}

.subscribe p {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 22px;
	color: #5a5a5a;
	font-weight: 400;
}

.subscribe .btn {
	font: inherit;
	background-color: #e95038;
	border: none;
}

.subscribe-form {
	background-color: #f8f7f4;
	border-radius: 10px;
}

/* Карта */
.map {
	height: 430px;
}

.contacts p {
	font-size: 14px;
	line-height: 20px;
	color: #323232;
	font-weight: 400;
}

.contacts .contacts-large-text {
	font-size: 18px;
	line-height: 24px;
	color: #323232;
	font-weight: 700;
}

.contacts a:hover,
.contacts a:focus,
.contacts a:active {
	color: #e84d37;
}

/* Подвал */

.main-footer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footer-social ul, .footer-nav ul{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
}

.footer-social {
	width: 186px;
}

.social-btn {
	display: inline-block;
	width: 32px;
	height: 32px;

	text-indent: 100%;
	white-space: no-wrap;
	overflow: hidden;
}

.twitter {
	background: url('../img/twitter.svg');
}

.instagram {
	background: url('../img/instagram.svg');
}

.facebook {
	background: url('../img/fb.svg');
}

.vk {
	background: url('../img/vk.svg');
}

.footer-nav {
	width: 313px;
}

.footer-nav a {
	font-size: 13px;
	color: #fff;
	text-align: left;
}

.footer-nav a:hover,
.footer-nav a:focus,
.footer-nav a:active {
	color: #ffbc9e;
}

.footer-copyright {
	width: 190px;
}

.footer-copyright p {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-weight: 400;
}

.footer-copyright a {
	color: #fff;
}
.footer-copyright a:hover,
.footer-copyright a:focus,
.footer-copyright a:active {
	color: #ffbc9e;
}

