*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #323232;
	font-weight: 400;	
	background-color: #849d8f; 
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.wrapper {
	min-width: 900px;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2.3%;
	box-sizing: border-box;
}

.btn {
	display: inline-block;
	padding: 12px 19px;	
	font: inherit;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
	font-weight: 700;
	text-align: center;
	border-radius: 30px;
	border: none;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	background-image: linear-gradient(to top, #e74a35, #f26843);
	cursor: pointer;
}

.btn:hover,
.btn:focus {
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
	background-image: linear-gradient(to top, #ec6f5e, #f48569);
}

.btn:active {
	background-image: linear-gradient(to bottom, #e74a35, #f26843);
	box-shadow: inset 0 2px 2px #942718;
}

.sub-nav-list,
.search-form,
.login-form,
.basket-container,
.modal-feedback {
	display: none;
}

/* Формы */

.input-field {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px; 
	font-size: 14px;
	line-height: 24px;
	color: #999999;
	border: none;
	box-shadow: inset 0 0 0 1px rgba(178, 178, 178, 0.52);
	border-radius: 5px;
	outline: none;
}

.input-small {
	font-size: 16px;
}

.input-field:hover {
	box-shadow: inset 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.input-field:focus {
	box-shadow: inset 0 0 0 2px rgba(46, 136, 228, 0.52);
}

.label-top {
	display: none;
	font-size: 11px;
	line-height: 13px;
	color: #999999;
	font-weight: 400;
}

.login-form,
.search-form {
	padding: 20px;
	background-color: #f8f7f4;
	border-radius: 5px;
}

.search-form {
	width: 341px;
}

.login-form {
	width: 277px;
	z-index: 4;
}

.login-form .input-field {
	margin-bottom: 20px;
}

.login-form-group {
	display: flex;
	justify-content: space-between;
}

.login-form-link {
	width: 120px;
	order: 2;
}

.login-btn {
	width: 100px;
	order: 1;
}

.login-form-link a {
	display: block;
	font-size: 13px;
	line-height: 24px;
	color: #323232;
	font-weight: 400;
	text-decoration: underline;
}

.login-form-link a:hover,
.login-form-link a:focus,
.login-form-link a:active {
	color: #e84d37;
}

.modal-feedback {
	width: 477px;
	background-color: #f8f7f4;
	border-radius: 5px;
}

.modal-form-title {
	font-size: 24px;
	line-height: 28px;
	color: #323232;
	font-weight: 500;
}

.modal-feedback textarea {
	resize: none;
}

/* Шапка */

.main-header {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 9px;
	margin-bottom: 320px;
}

.inner .main-header {
	margin-bottom: 24px;
}

.main-nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	
}

.main-nav-list,
.sub-nav-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-nav-list {	
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.main-header-logo {
	line-height: 0;
	margin-right: 8px;
}

.main-nav-list a {	
	display: block;
	position: relative;
	padding: 7px 14px;
	font-size: 16px;
	line-height: 18px;
	color: #fff;
	font-weight: 700;
}

.main-nav-item > a:not(.main-nav-active)::after {
	content: "";
	position: absolute;
	height: 1px;
	left: 14px;
	right: 14px;
	bottom: 6px;
	background: #fff;
	opacity: 0.2;
}

.main-nav-item > a:hover,
.main-nav-item > a:focus {
	color: #000;
	background-color: #f8f7f4;
	border-radius: 32px;
}

.main-nav-item > a:active {
	box-shadow: inset 0 2px 1px #666666;
}

.main-nav-active:hover,
.main-nav-active:focus {
	color: #000;
}

.main-nav-active {
	background-color: #d07058;
	border-radius: 32px;
}

.main-nav-item {
	padding-bottom: 4px;
}

.main-nav-item:first-child:hover .sub-nav-list {
	display: block;
}

.sub-nav-list {
	position: absolute;
	min-width: 143px;
	top: 35px;
	left: -5px;
	background-color: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.sub-nav-list a {
	display: block;
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 14px;
	line-height: 16px;
	color: #323232;
	font-weight: 400;
	border: none;
}

.sub-nav-list .link-title {
	padding-bottom: 10px;
	position: relative;
}

.sub-nav-list .link-title::after {
	content: "";
	display: block;
	position: absolute;
	width: 137px;
	height: 1px;
	left: 3px;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.2); 
}

.sub-nav-list .link-title {
	font-weight: 700;
}

.sub-nav-list li:hover,
.sub-nav-list li:focus {
	background-color: #fbded7;
}

.sub-nav-list li:first-child:hover,
.sub-nav-list li:first-child:focus {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.sub-nav-list li:last-child:hover,
.sub-nav-list li:last-child:focus {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.sub-nav-list li:active {
	background-color: #f6b5a5;
}

.sub-nav-active {
	background-color: #d07058;
}

.user-nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 261px;
	margin-top: -3px;
}

.user-nav-item {
	position: relative;
	padding-top: 4px;
	padding-bottom: 6px;
	padding-left: 45px;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 32px;
}

.user-nav-item > a {
	font-size: 14px;
	line-height: 16px;
	color: #fff;
	font-weight: 500;
}

.user-nav-item:hover,
.user-nav-item:focus {
	background: #f8f7f4;
	cursor: pointer;
}

.user-nav-item:hover > a,
.user-nav-item:focus > a {
	color: #000;
}

.user-nav-item:not(.basket-full):hover path,
.user-nav-item:not(.basket-full):hover path {
	fill: #000;
}

.search-item {
	width: 32px;
	height: 32px;
	padding: 0;	
}

.login-item {
	width: 92px;
}

.basket-item {
	width: 117px;
}

.search-item svg {
	position: absolute;
	top: 8px;
	left: 8px;
}

.login-item svg,
.basket-item svg {
	position: absolute;
	top: 6px;
	left: 16px;
}

.search-item:hover .search-form,
.login-item:hover .login-form,
.basket-full:hover .basket-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	position: absolute;
	top: 37px;
	right: 0;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.main-header-contacts {
	position: absolute;
	width: 170px;
	top: 74px;
	right: 0;
	text-align: right;
}

.main-header-time {
	margin: 0;
	padding: 0;
	margin-bottom: 2px;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
	font-weight: 700;	
}

.main-header-phone {
	font-size: 22px;
	line-height: 24px;
	color: #fff;
	font-weight: 700;
}

.main-header-phone:hover,
.main-header-phone:focus,
.main-header-phone:active {
	color: #ffbc9e;
}

.basket-full > a {
	color: #323232;
}

.basket-container {
	width: 540px;
	padding: 20px;
	background-color: #f8f7f4;
	border-radius: 5px;
	z-index: 5;
}

.basket-table a {
	color: #323232;
}

.basket-table tr {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 20px;
}

.basket-table td {
	display: block;
	padding: 0;
	font-size: 13px;
	line-height: 16px;
	color: #323232;
	font-weight: 400;
}

.col-1 {
	margin-right: 10px;
}

.col-2 {
	margin-right: 12px;
}

.col-2 img {
	border-radius: 50%;
}

.col-3 {
	width: 220px;
	margin-right: 40px;
}

.col-4 {
	margin-right: 5px;
}

.col-5 {
	color: #999999;
	margin-right: 10px;
}

.delete-btn {
	display: block;
	width: 11px;
	height: 11px;
	background-image: url("../img/cross-small.svg");
}

.count::before {
	content: "";
	display: block;
	width: 500px;
	height: 1px;
	margin-left: -10px;
	margin-bottom: 20px;
	background-color: rgba(0, 0, 0, 0.2); 
}

.count {
	justify-content: flex-end;
}

.count td {
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;
}

.basket-btn {
	width: 180px;
	align-self: flex-end;
}

.basket-product-link:hover,
.basket-product-link:focus,
.basket-product-link:active {
	color: #e84d37;
}

.breadcrumbs,
.pagination-list {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
}

.breadcrumbs {
	margin-bottom: 5px;
}

.breadcrumbs li {
	display: inline-block;
	vertical-align: baseline;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
	font-weight: 400;
}

.breadcrumbs a {
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
	color: #ffbc9e;
	border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.breadcrumbs li:not(:last-child)::after {
	content: "»";
	margin-left: 5px;
	margin-right: 5px;
}

/* Слайдер */

.slide-1, .slide-2, .slide-3 {
	display: none;
}

.slider {
	margin-bottom: 40px;
}

.slider-controlls {
	width: 80px;
	position: absolute;
	top: 564px;
}

.slider-btn {
	display: block;
	width: 278px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 32px;
	line-height: 44px;
	color: #fff;
	font-weight: 700;
	text-shadow: rgba(160, 32, 11, 0.76) 0 2px 5px;
	border-radius: 50px;
}

.slider-item {
	width: 670px;
	margin: 0 auto;
}

.slider-item h2 {
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
	font-size: 60px;
	line-height: 60.35px;
	color: #fff;
	font-weight: 700;
	text-align: center;
}

.slider-controlls label {
	display: inline-block;
	vertical-align: top;
	width: 18px;
	height: 18px;
	margin-right: 2px;	
	border: 2px solid #fff;
	border-radius: 50%;	
	cursor: pointer;
}

.slider-controlls label:hover,
.slider-controlls label:focus {
	background-color: rgba(255, 255, 255, 0.4);
}

.bg-wrapper {
	transition: background-image 0.5s ease, background-color 0.5s ease;
	background-repeat: no-repeat;
	background-position: top center;
}

.bg-wrapper::before,
.bg-wrapper::after {
	content: "";
	visibility: hidden;
	background-image: url('../img/slide-1-min.png');
}

.bg-wrapper::after {
	background-image: url('../img/slide-2-min.png');
}

#btn-1:checked ~ .bg-wrapper .slide-1,
#btn-2:checked ~ .bg-wrapper .slide-2,
#btn-3:checked ~ .bg-wrapper .slide-3 {
	display: block;
}

#btn-1:checked ~ .bg-wrapper label[for="btn-1"],
#btn-2:checked ~ .bg-wrapper label[for="btn-2"],
#btn-3:checked ~ .bg-wrapper label[for="btn-3"] {
	background-color: #fff;
}


#btn-1:checked ~ .bg-wrapper {
	background-color: #849d8f; 
	background-image: url('../img/slide-1-min.png');	
}

#btn-2:checked ~ .bg-wrapper {
	background-color: #8996a6;
	background-image: url('../img/slide-2-min.png');
}

#btn-3:checked ~.bg-wrapper {
	background-color: #9d8b84;
	background-image: url('../img/slide-3-min.png');
}

/* Основной контент */

.promo, .news-and-subscribe {
	display: flex;
	justify-content: space-between;
}

.promo, .catalog {
	margin-bottom: 39px;
}

.features, .news-and-subscribe {
	margin-bottom: 40px;
}

.inner .catalog {
	margin-bottom: 0px;
}

.inner .catalog::after {
	content: "";
	display: block;
	height: 1px;
	width: 100%;
	margin-top: 30px;
	background-color: rgba(255, 255, 255, 0.2);
}

.promo-item, .news, .subscribe {
	width: 48.85%;
	box-sizing: border-box;
}

.promo-item {
	padding-top: 1.42%;
	padding-bottom: 1.92%;
	padding-left: 1.6%;
	padding-right: 1.58%;
	border-radius: 10px;
	background-position: 50%;
}

.promo-item h2,
.promo-item p {
	margin: 0;
	padding: 0;
}

.promo-item h2 {
	margin-bottom: 17px;
	font-size: 35px;
	line-height: 41px;
	color: #fff;
	font-weight: 
}

.promo-item p {
	margin-bottom: 8%;
	font-size: 18px;
	line-height: 22px;
	color: #fff;
	font-weight: 700;
}

.promo-1 {
	background-color: #871738; 
	background-image: url('../img/bg-promo-1.jpg');
}

.promo-2 {
	background-color: #6d4a42;
	background-image: url('../img/bg-promo-2.jpg');
}

.product-filter-form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 860px;
	margin-bottom: 25px;
}

.product-filter fieldset {
	margin: 0;
	padding: 0;
	width: 100px;
	margin-bottom: 14px;	
	border: none;
}

.filter-field {
	display: flex;
	flex-wrap: no-wrap;
	justify-content: space-between;
	align-items: center;
	padding-left: 14px;
	padding-right: 14px;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 20px;
}

.product-filter,
.product-filter select {
	font-size: 16px;
	line-height: 18px;
	color: #fff;
	font-weight: 500;
	text-transform: lowercase;
	appearance: none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari and Chrome */
}

.product-filter legend {
	margin-left: 15px;
	margin-bottom: 7px;
	font-size: 14px;
	text-transform: none;
}

.filter-sorting {
	width: 193px;
	min-height: 36px;
	border: none;
}

.sorting-wrap {
	position: relative;
}

.filter-sorting + svg {
	position: absolute;
	top: 40px;
	left: 85%;
}

.filter-sorting:hover,
.filter-sorting:focus {
	color: #000;
	background-color: #fff;
}

.filter-sorting option:hover {
	box-shadow: 0 0 10px 100px #000 inset;
}

.filter-sorting:hover + svg path,
.filter-sorting:focus + svg path {
	fill: #000;
}

.filter-price {
	width: 218px;
	min-height: 36px;
}

.filter-price-controls {
	position: relative;
	width: 218px;
	height: 36px;
	padding-left: 10px;
	padding-right: 10px;
}

.scale {
	height: 4px;
	margin-top: 16px;
	background-color: rgba(255, 255, 255, 0.5);
}

.bar {
	width: 85px;
	height: 4px;
	margin-left: 25px;
	background-color: rgba(255, 255, 255, 1);
}

.toggle {
	position: absolute;
	width: 20px;
	height: 22px;
	top: 8px;
	background-image: url('../img/filter-button.svg');
}

.min-toggle {
	left: 20px;
}

.max-toggle {
	left: 110px;
}

.toggle:hover,
.toggle:focus {
	cursor: pointer;
}

.filter-fatness {
	width: 414px;
	min-height: 36px;
}

.filter-fatness input[type="radio"],
.filter-filler input[type="checkbox"] {
	display: none;
}

.label-radio,
.label-check {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.label-radio::before {
	content: "";
	width: 25px;
	height: 25px;
	margin-right: 10px;
	background-image: url('../img/radio-off.svg');
	opacity: 0.8;
}

.label-check::before {
	content: "";
	width: 26px;
	height: 23px;
	margin-right: 10px;
	background-image: url('../img/checkbox-off.svg');
	background-repeat: no-repeat;
	opacity: 0.8;
}

.label-radio:hover::before,
.label-radio:focus::before,
.label-check:hover::before,
.label-check:focus::before {
	opacity: 1;
}

input[name="fatness"]:disabled + .label-radio::before,
input[name="filler"]:disabled + .label-check::before {
	opacity: 0.4;
}

input[name="fatness"]:checked + .label-radio::before {
	background-image: url('../img/radio-on.svg');
}

input[name="filler"]:checked + .label-check::before {
	background-image: url('../img/checkbox-on.svg');
}

.filter-filler {
	width: 702px;
	min-height: 36px;
}

.filter-btn {
	width: 143px;
	padding-top: 7px;
	padding-bottom: 7px;	
	margin-top: 10px;
	font: inherit;
	color: #fff;
	background-color: rgba(255, 255, 255, 0.2);
	border: 2px solid #fff;
	border-radius: 20px;
	box-sizing: border-box;
	outline: none;
	cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
	color: #323232;
	background-color: rgba(255, 255, 255, 1);
}

.filter-btn:active {
	color: #323232;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: inset 0 2px 1px #696969;
	border: none;
	padding-top: 9px;
	padding-bottom: 8px;
}

.catalog-hover {
	display: none;
	position: absolute;
	width: 110%;
	min-height: 125%;
	top: -6px;
	left: -4.4%;
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	z-index: 3;
}

.catalog-item:hover .catalog-hover {
	display: block;
}

.catalog-title {
	margin: 0;
	padding: 0;
	margin-bottom: 25px;
	font-size: 35px;
	line-height: 41px;
	color: #fff;
	font-weight: 700;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}

.catalog-item {
	width: 23.3%;
	position: relative;
}

.catalog-item-wrap {
	position: relative;
	margin-bottom: 10px;
}

.inner .catalog-item {
	margin-bottom: 37px;
}

.catalog-btn {
	position: absolute;
	top: 84%;
	left: 50%;
	transform: translateX(-50%);
	width: 200px;
	padding-left: 5px;
	padding-right: 5px;
	box-shadow: 0 1px 2px #ac1000;
}

.catalog-item img {
	border-radius: 50%;
}

.hit-item {
	position: absolute;
	top: 0;
	left: 0;
}

.catalog-item-price {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 78%;
	font-size: 30px;
	line-height: 45px;
	color: #fff;
	font-weight: 700;
	vertical-align: middle;
	text-shadow: rgba(49, 50, 53, 0.5) 1px 1px 3px;	
}

.catalog-item-price b {
	font-size: 45px;
}

.catalog-item-price b::after {
	content: url('../img/ruble.svg');
	display: inline-block;
	vertical-align: middle;
}

.catalog-item h3 {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	text-align: center;
}

.catalog-item a {
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.catalog-item a:hover,
.catalog-item a:focus,
.catalog-item a:active {
	color: #ffbc9e;
	border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.pagination-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	margin-top: 44px;
}

.pagination-prev::after,
.pagination-next::after {
	content: "";
	display: block;
	width: 8px;
	height: 12px;	
	background: url('../img/icon-right-small.svg') no-repeat;
	
}

.pagination-prev::after {
	margin-right: 15px;
	transform: scale(-1, 1);
}

.pagination-next::after {
	margin-left: 10px;
}

.pagination-disabled {
	opacity: 0.2;
}

.pagination-item a {
	display: block;
	padding: 4px 8px;
	margin-right: 5px;
	font-size: 16px;
	line-height: 18px;
	color: #fff;
	font-weight: 500;
}

.pagination-item:not(.pagination-item-active) a:hover,
.pagination-item:not(.pagination-item-active) a:focus  {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 50%;
}

.pagination-item-active a,
 .pagination-item a:active {
	background-color: #fff;
	color: #000;
	border-radius: 50%;
}

.features {
	padding-top: 24px;
	padding-left: 19px;
	padding-right: 21px;
	padding-bottom: 4px;
	box-sizing: border-box;
	background-color: #e8dbc1;
	background-image: url('../img/bg-features.jpg');
	border-radius: 10px;
}

.features h2,
.features p,
.features-list {
	margin: 0;
	padding-left: 0;
}

.features h2 {
	margin-bottom: 21px;
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
}

.features-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
}

.features-item {
	position: relative;
	width: 48.9%;
}

.features-item::after {
	content: "";
	position: absolute;
	display: block;
	width: 49px;
	height: 49px;
	top: -10px;
}

.ice-cream-item::after {
	background-image: url('../img/ice-cream.svg');
}

.cow-item::after {
	background-image: url('../img/cow.svg');
}

.leaf-item::after {
	background-image: url('../img/eco.svg');
}

.thermometer-item::after {
	background-image: url('../img/thermometer.svg');
}

.features-item p {
	margin-left: 57px;
	margin-bottom: 22px;
}

.news h3,
.subscribe p {
	margin: 0;
	padding: 0;
}

.news {
	min-height: 220px;
	padding: 24px 20px;
	background-color: #fff;
	background: url('../img/bg-news-big.jpg') no-repeat;
	background-position: top -230px right -250px;
	border-radius: 15px;
}

.news h3 {
	margin-bottom: 4px;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
}

.news a {
	display: block;
	width: 300px;
	font-size: 24px;
	line-height: 30px;
	color: #323232;
	font-weight: 700;
	text-decoration: underline;
}

.news a:hover,
.news a:focus,
.news a:active {
	color: #e84d37;
}

.subscribe {
	display: flex;
	min-height: 220px;
	background-color: #f8f7f4;
	background: url('../img/bg-post.svg');
	border-radius: 15px;
}

.subscribe-form {
	min-height: 210px;
	margin: 5px;
	padding: 30px 21px;
	box-sizing: border-box;
	background-color: #f8f7f4;
	border-radius: 10px;
}

.subscribe-form .input-field {
	width: 73%;
	margin-right: 0.85%;
}

.subscribe p {
	margin-bottom: 33px;
	font-size: 16px;
	line-height: 22px;
	color: #5a5a5a;
	font-weight: 400;
}

.subscribe-btn {
	width: 25%;
	padding-right: 2%;
	padding-left: 2%;
}

/* Карта */
.map {
	position: relative;
	width: 100%;
	min-height: 430px;
	background-image: url('../img/map.jpg');
	background-position: 50%;
}

.map-pointer {
	position: absolute;
	top: 140px;
	left: 266px;
}

.contacts {
	position: absolute;
	width: 25.1%;
	top: 14.5%;
	left: 72%;
	padding-top: 28px;
	padding-left: 25px;
	padding-bottom: 28px;
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 15px;
}

.contacts p {
	margin: 0;
	padding: 0;
	margin-bottom: 2px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
}

.contacts .contacts-large-text {
	font-size: 18px;
	line-height: 24px;
	color: #323232;
	font-weight: 700;
}

p.contacts-large-text {
	margin-bottom: 19px;
}

.contacts-btn {
	width: 91%;
	margin-top: 27px;
}

.contacts-link:hover,
.contacts-link:focus,
.contacts-link:active {
	color: #e84d37;
}

/* Подвал */

.main-footer {
	display: flex;
	justify-content: space-between;
	padding-top: 19px;
}

.footer-social ul, .footer-nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-social {
	width: 267px;
	padding-top: 16px;
	padding-bottom: 20px;
}

.footer-social ul {
	display: flex;
	justify-content: flex-start;
}

.social-btn {
	display: block;
	margin-right: 11px;
	width: 37px;
	height: 37px;
	border: 3px solid rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	opacity: 0.8;
}

.social-btn:hover,
.social-btn:focus {
	border: 3px solid rgba(255, 255, 255, 0.7);
	opacity: 1;
}

.social-btn:active {
	border: 3px solid rgba(255, 255, 255, 0.7);
	opacity: 0.9;
}

.twitter {
	background: url('../img/twitter.svg') no-repeat 0 0;
}

.instagram {
	background: url('../img/instagram.svg') no-repeat 0 0;
}

.facebook {
	background: url('../img/fb.svg') no-repeat 0 0;
}

.vk {
	background: url('../img/vk.svg') no-repeat 0 0;
}

.footer-nav {
	width: 561px;
	padding-top: 11px;
}

.footer-nav ul {
	position: relative;
	margin-left: 130px;
	display: flex;
	flex-wrap: wrap;
	width: 350px;
}

.footer-nav ul::before {
	content: "";
	position: absolute;
	left: -23px;
	top: 6px;
	display: block;
	width: 15px;
	height: 13px;
	background: url('../img/heart.svg'); 
}

.footer-nav li {
	margin-right: 30px;
}

.footer-nav li:nth-child(4) {
	margin-left: 3.5%;
}

.footer-nav li:first-child {
	font-weight: 700;
}

.footer-nav a {
	font-size: 13px;
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-nav a:hover,
.footer-nav a:focus,
.footer-nav a:active {
	color: #ffbc9e;
	border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.footer-copyright {
	width: 267px;
}

.footer-copyright img {
	display: block;
	margin-left: 29%;
}

.footer-copyright p {
	margin: 0;
	padding: 0;
	margin-top: 4px;
	margin-left: 29%;
	font-size: 12px;
	line-height: 18px;
	color: #fff;
	font-weight: 400;
}

.footer-name {
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-name:hover,
.footer-name:focus,
.footer-name:active {
	color: #ffbc9e;
	border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}
